.pantalla {
    background-color: rgb(212, 212, 212);

    height: 20rem;
    font-size: 5rem;
    font-weight:600;

    padding: 1rem;

    display: flex;
    align-items: end;
    justify-content: right;
    
}