.teclado {
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,9rem);
    gap: 1rem;
}

.teclas{
    font-size: 3rem;
    border: 1px solid gray;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.teclas:hover{
    background: rgb(103, 238, 103);
}
.tecla-0{
    grid-column: 1/3;
}